# Игнорировать все, что связано с Vagrant
.vagrant/
# Игнорировать файлы временных настроек редакторов
*.swp
*.swo
*~
.*.swp
.*.swo

# Игнорировать логи и временные файлы
logs/
*.log
*.tmp

# Игнорировать системные файлы ОС
.DS_Store
Thumbs.db
